@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Inter', sans-serif; */
@font-face {
	font-family: 'Plumb';
	src: url('../fonts/Plumb-black.ttf');
	src: local('Plumb'), local('Plumb-bold'),
		url('../fonts/Plumb-black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Plumb-medium';
	src: url('../fonts/Plumb-Medium.ttf');
	src: local('Plumb'), local('Plumb-medium'),
		url('../fonts/Plumb-Medium.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Plumb';
	src: url('../fonts/Plumb-regular.ttf');
	src: local('Plumb'), local('Plumb-regular'),
		url('../fonts/Plumb-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Plumb', sans-serif;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-decoration: none;
	line-height: 1.2;
}

button:focus,
textarea:focus,
select:focus {
	outline: none !important;
	-webkit-appearance: none;
	box-shadow: none;
}

input:focus {
	outline: none !important;
}

a:active,
a:focus {
	outline: 0;
	outline: none !important;
	border: none;
	-moz-outline-style: none;
}

a,
span {
	display: inline-block;
}

a,
span,
img,
button,
input,
textarea,
svg {
	transition: .3s all ease;
}

.wrapper {
	overflow: hidden;
	position: relative;
}

.owl-drag {
	overflow: hidden;
}

.owl-item {
	float: left;
}

.owl-dots {
	display: none;
}

.read-more-btn {
	border: 1px solid #D60000;
	font-weight: 700;
	font-size: 14px;
	line-height: 79.4%;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	background: none;
	padding: 26px 55px;
}
.read-more-btn:hover{
	background: #D60000;
	color: white;
}
/* breadcrumbs */
.breadcrumbs {
	display: flex;
	align-items: center;
	font-family: 'Inter', sans-serif;
	margin: 40px 0 10px;
}

.breadcrumbs span,
.breadcrumbs p,
.breadcrumbs a {
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 0.705em;
	color: #000000;
	opacity: 0.6;
}

.breadcrumbs span {
	margin: 0 25px;
	display: flex;
}

.breadcrumbs a:hover {
	opacity: 1;
}

header.fixed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
	z-index: 2;
}

header .header-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .header-menu .menu-btn {
	width: 80px;
	height: 80px;
	background: #D60000;
	display: flex;
	align-items: center;
	justify-content: center;
}

header .header-right .header-right-btn {
	width: 80px;
	height: 80px;
	background: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* end header */
.title h2 {
	font-weight: 900;
	font-size: 90px;
	line-height: 84.52%;
	letter-spacing: -0.095em;
	text-transform: uppercase;
	color: #D60000;
}
.second-title h2 {
	font-weight: 900;
	font-size: 70px;
	line-height: 70.52%;
	letter-spacing: -0.095em;
	text-transform: uppercase;
	color: #D60000;
	margin-bottom: 50px;
}
.title h3 {
	font-weight: 900;
	font-size: 60px;
	line-height: 70.52%;
	letter-spacing: -0.095em;
	text-transform: uppercase;
	color: #D60000;
}
.second-title.white h2 {
	color: #fff;
}

/* btns */
/* Еще btn */
.more-link {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 150%;
	text-decoration-line: underline;
	color: #D60000;
}

.more-link:hover {
	color: #D60000;
}

.more-link img {
	margin-left: 11px;
}

.more-link:hover img {
	margin-left: 16px;
}

/* показать ещё btn */
.show-more {
	font-weight: bold;
	font-size: 14px;
	line-height: 79.4%;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	border: 1px solid #D60000;
	padding: 18px 54px;
}
.show-more:hover {
	background: #000000;
	color: #fff;
}

.show-more.white {
	border-color: #fff;
	color: #fff;
}
.show-more.white:hover {
	border-color: #000;
}


/* red btn */
.red-btn {
	font-family: 'Plumb-medium', sans-serif;
	background: #D60000;
	height: 50px;
	border: none;
	width: 298px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 79.4%;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 1px solid #D60000;
}

.red-btn:hover {
	background: #fff;
	color: #D60000;
}

.black-btn {
	font-family: 'Plumb-medium', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 79.4%;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	border: 1px solid #000000;
	padding: 20px 24px;
}

.black-btn:hover {
	color: white;
	background: #000;
}

/* About reviews page */
.about-reviews {
	padding-bottom: 85px;
}

.about-reviews .title {
	margin-bottom: 50px;
}

.about-reviews .review-col {
	margin-bottom: 24px;
}

.review-block {
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
	padding: 20px 40px 45px 25px;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	z-index: 2;
}

.review-block .review-text-in {
	padding-left: 15px;
	margin: 14px 0 40px;
}

.review-block .in-text {
	height: 127px;
	overflow: hidden;
	margin-bottom: 5px;
}

.review-block .review-text-in p {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.025em;
	color: #000000;
}

.review-end {
	display: flex;
	align-items: center;
}

.review-end .review-avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../images/review-avata-bg.png');
	background-repeat: no-repeat;
	width: 82px;
	height: 84px;
	background-position: center;
	margin-right: 4px;
}

.review-end .review-avatar img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.review-end .review-name p {
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	color: #000000;
	margin-bottom: 10px;
}

.review-end .review-rating {
	display: flex;
	align-items: center;
}

.review-end .review-rating span {
	display: flex;
	margin-right: 4px;
}

.review-end .review-rating span:last-child {
	margin-right: 0;
}

.about-reviews .review-more-btn {
	margin-top: 45px;
}

.about-reviews .review-more-btn .show-more {
	width: 100%;
}

.review-form-sec {
	padding: 100px 0 90px;
	background-image: url('../images/review-form-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.review-form-sec .title {
	margin-bottom: 50px;
}

.review-form-sec .title p {
	margin-top: 17px;
	font-weight: 900;
	font-size: 10px;
	line-height: 150%;
	letter-spacing: 0.915em;
	text-transform: uppercase;
	color: #000000;
}

.review-form-sec .review-form .form-group input {
	border: none;
	border-bottom: 1px solid #000000;
	height: 50px;
	width: 100%;
	background: transparent;
}

.review-form-sec .review-form .form-group input::placeholder {
	font-size: 14px;
	line-height: 110%;
	letter-spacing: 0.025em;
	color: #000000;
}

.review-form-sec .review-form .comment-text {
	margin-top: 45px;
}

.review-form-sec .review-form .review-form-rating {
	display: flex;
	align-items: center;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	margin-top: 30px;
}

.review-form-sec .review-form .form-rating {
	display: flex;
	margin-right: 30px;
}

.review-form-sec .review-form .review-form-btn button {
	background: #D60000;
	height: 50px;
	border: none;
	width: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 79.4%;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 1px solid #D60000;
	margin-left: 5px;
}

.review-form-sec .review-form .review-form-btn button:hover {
	background: #fff;
	color: #D60000;
}

.review-form-sec .review-form-img {
	position: relative;
}

.review-form-sec .review-form-img img {
	position: absolute;
	right: 0;
	top: -290px;
}

/* end */
/* start message form */
.message-form-sec {
	padding: 100px 0 90px;
	background-image: url('../images/review-form-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.message-form-sec .title {
	margin-bottom: 50px;
}

.message-form-sec .title p {
	margin-top: 17px;
	font-weight: 900;
	font-size: 10px;
	line-height: 150%;
	letter-spacing: 0.915em;
	text-transform: uppercase;
	color: #000000;
}

.message-form-sec .message-form .form-group input {
	border: none;
	border-bottom: 1px solid #000000;
	height: 50px;
	width: 100%;
	background: transparent;
}

.message-form-sec .message-form .form-group input::placeholder {
	font-size: 14px;
	line-height: 110%;
	letter-spacing: 0.025em;
	color: #000000;
}

.message-form-sec .message-form .comment-text {
	margin-top: 45px;
}

.message-form-sec .message-form .message-form-rating {
	display: flex;
	align-items: center;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	margin-top: 30px;
}

.message-form-sec .message-form .form-rating {
	display: flex;
	margin-right: 30px;
}

.message-form-sec .message-form .message-form-btn button {
	background: #D60000;
	height: 50px;
	border: none;
	width: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 79.4%;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 1px solid #D60000;
	margin-left: 5px;
}

.message-form-sec .message-form .message-form-btn button:hover {
	background: #fff;
	color: #D60000;
}

.message-form-sec .message-form-img {
	position: relative;
}

.message-form-sec .message-form-img img {
	position: absolute;
	right: 0;
	top: -400px;
}

.message-form-sec .control {
	max-width: 430px;
}

/* end message form */
/* start about-delivered page */
.about-delivered {
	padding-bottom: 70px;
}

.about-delivered .title {
	margin-bottom: 40px;
}

.about-delivered .delivered-filter-rov {
	margin-bottom: 60px;
	align-items: center;
}

.about-delivered .delivered-filter-btn button {
	width: 100%;
}

.about-delivered .delivered-filter-icon {
	text-align: right;
}

.about-delivered .delivered-col {
	margin-bottom: 20px;
}

.about-delivered .delivered-block {
	position: relative;
	height: 232px;
	overflow: hidden;
}

.about-delivered .delivered-block .delivered-img img {
	width: 100%;
}

.about-delivered .delivered-block .delivered-hover {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	background: rgba(214, 0, 0, .8);
	transition: .4s all ease;
}

.about-delivered .delivered-block:hover .delivered-hover {
	top: 0;
}

.about-delivered .delivered-hover h5 {
	font-weight: 700;
	font-size: 24px;
	line-height: 79.4%;
	color: #FFFFFF;
	margin-bottom: 20px;
}

.about-delivered .delivered-hover .del-hover-text {
	display: flex;
	align-items: center;
}

.about-delivered .delivered-hover .del-hover-text span,
.about-delivered .delivered-hover .del-hover-text p {
	font-size: 14px;
	line-height: 123.4%;
	color: #FFFFFF;
}

.about-delivered .delivered-hover .del-hover-text p {
	width: 100px;
	margin-right: 15px;
}

.about-delivered .delivered-btn {
	margin-top: 55px;
}

.about-delivered .delivered-btn .show-more {
	width: 100%;
}

/* end */
/* About contact page */
.about-contact {
	padding-bottom: 40px;
}

.about-contact .title {
	margin-bottom: 55px;
}

.about-contact .contact-map {
	height: 390px;
}

.about-contact .contact-map>div,
.about-contact .contact-map iframe {
	width: 100%;
	height: 100%;
}


.about-contact .contact-map-item {
	position: relative;
	padding: 170px 20px 40px 45px;
	background: #D60000;
	color: #fff;
	margin-top: -230px;
}

.about-contact .contact-map-item img {
	position: absolute;
	left: 0;
	top: 0;
}

.about-contact .contact-map-item address {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 114.5%;
	letter-spacing: 0.025em;
	color: #FFFFFF;
}

.about-contact .contact-info {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-left: 17px;
}

.about-contact .contact-info .info-icon {
	margin-right: 100px;
}

.about-contact .info-numbers a {
	display: flex;
	align-items: center;
	font-size: 24px;
	line-height: 185.02%;
	letter-spacing: 0.025em;
	color: #000000;
}

.about-contact .info-numbers a:hover {
	color: #D60000;
}

.about-contact .info-numbers a img {
	margin-right: 16px;
	height: 27px;
	width: 27px;
}

/* end */
/* faq */
.faq-sec {
	padding-bottom: 278px;
	position: relative;
}
.faq-sec .second-title {
	margin-bottom: 50px;
}
.cat-slide-block .second-title {
	margin-bottom: 70px;
	text-align: center;
}
.faq-rov .second-title {
	margin-bottom: 26px;
}
.faq-sec::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-image: url('../images/faq-bg.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 100%;
	opacity: 0.2;
	width: 100%;
	height: 622px;
	z-index: -1;
}

.faq-sec .title {
	margin-bottom: 55px;
}

.faq-card {
	border: 1px solid #000000;
	padding: 38px 15px 0 38px;
	margin-bottom: 101px;
	height: 100%;
	height: 577px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: all 0.3s linear;
	width: 100%;
}

.faq-card:hover {
	background-color: #D60000;
	border-color: #D60000;
}

.faq-card:hover .faq-card-title,
.faq-card:hover .faq-card-paragrph {
	color: white;
}

.faq-card:hover .black-btn {
	border-color: white;
	color: white;
}

.faq-card-one .black-btn {
	margin-top: 36px;
}

.faq-card-one {
	background-image: url(../images/phone-img.png);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-position: 38px 100%;
	background-size: 318px;
	display: inline-block;
	width: 100%;
}

.faq-card-two {
	background-image: url(../images/laptop.png);
	background-repeat: no-repeat;
	background-position: 0 78%;
}

.faq-card-two .black-btn {
	margin-top: -100px;
	padding: 20px 60px;
}

.faq-card.red-card {
	background: #D60000;
}

.faq-card-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 108.02%;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #000000;
	max-width: 217px;
}

.faq-card.active {
	background-color: #D60000;
	border-color: #D60000;
}

.faq-card-three .faq-card-title,
.faq-card-three .faq-card-paragrph {
	color: white;
}

.faq-card-three .black-btn {
	border-color: white;
	color: white;
	padding: 20px 62px;
}

.faq-card-three {
	background-image: url(../images/ship.png);
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-position: 0 145px;
}

.faq-card-paragrph {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #000000;
	max-width: 350px;
	margin-top: 18px;
}

.black-btn {
	margin-bottom: 31px;
	width: fit-content;
}

.faq-sec .faq-swiper {
	margin: 15px 0 168px 0;
}

.faq-sec .swiper-button-prev:after,
.faq-sec .swiper-button-next:after {
	content: "";
	display: none;
}

.faq-sec .swiper-buttons {
	margin-top: 50px;
}

.faq-sec .swiper-button-next img,
.faq-sec .swiper-button-prev img {
	width: 100%;
}

.faq-sec .swiper-button-next {
	left: 50%;
}

.faq-sec .swiper-button-prev {
	left: 43%;
}

.faq-sec .swiper-button-next,
.faq-sec .swiper-button-prev {
	right: auto;
	top: auto;
	bottom: auto;
	padding-left: 10px;
	padding-right: 10px;
	width: 78px;
	display: inline-block;
	padding: 0;
}

.faq-sec .faq-block {
	margin-top: 26px;
}

.faq-sec .accordion-item {
	background: #232323;
	padding: 0 10px;
	position: relative;
}

.faq-sec .accordion-item::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	height: 1px;
	background: rgba(255, 255, 255, .2);
}

.faq-sec .accordion-button {
	justify-content: space-between;
	padding: 30px 20px;
	background: #232323;
}

.faq-sec .accordion-button span {
	width: 90%;
	font-size: 20px;
	line-height: 110%;
	letter-spacing: 0.025em;
	color: #FFFFFF;
}

.faq-sec .accordion-button[aria-expanded="true"] img {
	transform: rotate(180deg);
}

.faq-sec .accordion-body {
	color: #fff;
	background: #232323;
}

.faq-sec .accordion-body p {
	background: #232323;
	font-size: 20px;
	line-height: 110%;
	letter-spacing: 0.025em;
	color: #FFFFFF;
}

.faq-sec .accordion-button:hover {
	z-index: unset;
}

.faq-sec .faq-block__link-box {
	margin-top: 24px;
}

.faq-sec .faq-block__link {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	display: inline-block;
	color: #D60000;
	border-bottom: 1px solid #D60000;
	margin-right: 15px;
}

.accordion-button:focus {
	box-shadow: none;
	outline: none;
	border: none;
	z-index: unset;
}

.accordion-button:not(.collapsed) {
	background: #232323;
	color: #fff;
}

.accordion-button::after {
	content: none;
}

.accordion-item:last-of-type,
.accordion-item:first-of-type {
	border-radius: 0;
}

/* end faq */
/* start directions page */
.directions-sec {
	padding-bottom: 20px;
}

.directions-sec .title {
	margin-bottom: 40px;
}

.directions-sec .directions-block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 602px;
	overflow: hidden;
}

.directions-sec .directions-block::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #D60000;
	opacity: 0.6;
	transform: scale(0);
	transition: .3s all ease;
}

.directions-sec .directions-img,
.directions-sec .directions-img img {
	width: 100%;
	height: 100%;
}

.directions-sec .directions-block:hover::after {
	transform: scale(1);
}

.directions-sec .directions-block:hover .directions-text p {
	color: #fff;
}

.directions-sec .directions-text p {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 26px;
	font-size: 20px;
	line-height: 105.52%;
	text-align: center;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	color: #000000;
	transition: .3s all ease;
}

.directions-sec .directions-block:hover .directions-title h3 {
	color: #fff;
	border-color: #fff;
}

.directions-sec .directions-block h3 {
	font-family: 'DrukWideCyr-Bold';
	font-weight: 900;
	font-size: 26px;
	line-height: 96.5%;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	border: 7px solid #000;
	height: 420px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
}

.break-word {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	text-orientation: upright;
	writing-mode: vertical-lr;
	transition: .3s all ease;
}

.directions-sec .directions-title {
	z-index: 2;
}

.directions-sec .directions-text {
	z-index: 2;
}

/* Нужно  что-то  особенное? Давайте  обсудим! */
.make-meeting-sec {
	padding: 60px 0 150px;
	background-image: url('../images/make-meeting-bg.png');
	background-repeat: no-repeat;
	background-position: right top;
}

.make-meeting-sec .make-meeting h3 {
	font-weight: 900;
	font-size: 50px;
	line-height: 93.52%;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 40px;
}

.make-meeting-sec .make-meeting .red-btn {
	font-weight: 700;
	font-size: 14px;
	line-height: 79.4%;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.make-meeting-sec .make-meeting .red-btn:hover {
	color: #D60000;
}

/* end directions page */

/* start block page */
.blog-sec {
	padding: 10px 0 100px 0;
}

.blog-big-img {
	margin: 33px 0 64px 0;
}

.blog-sec .blog-info {
	margin-bottom: 46px;
}

.blog-paragrph {
	padding-left: 35px;
	padding-right: 35px;
}

.red-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 158.52%;
	letter-spacing: 0.025em;
	color: #D60000;
}

.blog-paragrph .blog-text {
	margin-bottom: 35px;
}

.blog-paragrph .blog-text {
	font-size: 16px;
	line-height: 158.52%;
	letter-spacing: 0.025em;
	color: #000000;
}

.blog-paragrph .blog-text:last-child {
	margin-bottom: 0;
}

.blog-sec .blog-info-two .blog-text {
	margin: 30px 0 58px 0;
}

.blog-sec .blog-info-two .blog-info-line {
	width: 100%;
	height: 7.08px;
	background: #D60000;
}

.blog-sec .blog-interested {
	margin-top: 106px;
}

.blog-sec .blog-interested .title h2 {
	margin-bottom: 45px;
	color: #D60000;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
}

.blog-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 485px;
	overflow: hidden;
}

.blog-card .blog-card-img {
	height: 250px;
}

.blog-card-info {
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.025em;
	color: #000000;
	opacity: 0.7;
	max-width: 360px;
	margin-bottom: 15px;
}

.blog-card .blog-card-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	text-transform: uppercase;
	color: #D60000;
	margin-top: 20px;
	max-width: 360px;
}

.blog-card-three {
	background-image: url(../images/blog-card-img3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #D60000;
	background-blend-mode: multiply;
	padding: 0 0 34px 23px;
}

.blog-card-three .blog-card-title {
	color: white;
	font-size: 28px;
	margin-top: 30px;
	max-width: 250px;
}

.blog-card.mt {
	margin-top: 98px;
}

.blog-card-three .read-more a {
	color: white;
	border-color: white;
}

/* end block page */
/* start client page */
.client-sec .title {
	margin-bottom: 46px;
}

.client-sec .blog-big-img {
	margin: 45px 0 35px 0;
}

.client-sec .client-cards {
	margin-top: 103px;
}

/* end client page */

/* start news page */
.news-sec {
	padding-bottom: 125px;
}
.news-sec .swiper-slide {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.news-sec .slider-content {
	max-width: 489px;
}

.news-sec .new-slider-title {
	font-weight: 900;
	font-size: 32px;
	line-height: 112.52%;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #D60000;
}

.news-sec .slider-content p {
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.025em;
	margin: 32px 0 4px;
	color: #000000;
}

.news-sec .news-card-btns {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-bottom: 68px;
}

.news-sec .news-card-btn:hover,
.news-sec .news-card-btn.active {
	background: #D60000;
	border-color: #D60000;
	color: white;
}

.news-sec .news-card-btn {
	font-weight: 900;
	font-size: 14px;
	line-height: 150%;
	text-transform: uppercase;
	color: #000000;
	border: 2px solid #000000;
	border-radius: 50px;
	padding: 11px 48px;
}

.news-sec .blog-card {
	margin-bottom: 68px;
}

/* end news page */

.how-work .title {
	margin-bottom: 40px;
}
.title h4 {
	font-weight: 900;
	font-size: 70px;
	line-height: 84.52%;
	letter-spacing: -0.095em;
	text-transform: uppercase;
	color: #D60000;
}
.how-work .how-block {
	display: flex;
	align-items: center;
}
.how-work .how-number {
	margin-right: 60px;
	margin-bottom: 37px;
}
.how-work .how-number h5 {
	font-weight: 900;
	font-size: 60px;
	line-height: 84.52%;
	letter-spacing: -0.15em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 7px;
}
.how-work .how-number p {
	font-family: 'Plumb-medium', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 112.02%;
	letter-spacing: 0.025em;
	color: #000000;
	max-width: 150px;
}
.how-work .how-number.red h5,
.how-work .how-number.red p {
	color: #D60000;
}
.how-work .how-in {
	display: flex;
}
.how-work .how-btn a {
	width: 194px;
}
.how-work .how-content {
	padding-bottom: 77px;
}
/* we work */
.we-work {
	padding-bottom: 130px;
}
.we-work .title {
	text-align: center;
	margin-bottom: 40px;
}
.we-work .title h3 {
	font-weight: 900;
	font-size: 70px;
	line-height: 94.52%;
	letter-spacing: -0.095em;
}

.we-work .we-img img {
	width: 100%;
	height: 266px;
	object-fit: cover;
	mix-blend-mode: darken;
}
.we-work .we-rov {
	align-items: center;
	margin-bottom: 34px;
}
.we-work .we-number span {
	font-weight: 900;
	font-size: 300px;
	line-height: 84.52%;
	letter-spacing: -0.15em;
	text-transform: uppercase;
	color: #D60000;
}
.we-work .left-rov .we-number span {
	margin-left: -115px;
}
.we-work .we-text {
	max-width: 407px;
}
.we-work .we-text p {
	font-family: 'Plumb-medium', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 111.02%;
	letter-spacing: 0.025em;
	color: #D60000;
	margin-bottom: 26px;
}
.we-work .we-text span {
	display: block;font-size: 14px;
	line-height: 145.5%;
	letter-spacing: 0.025em;
	color: #000000;
}
.we-work .we-btn {
	text-align: center;
	margin-top: 15px;
}
.we-work .we-btn a {
	font-family: 'Plumb-medium';
	font-weight: 700;
	font-size: 14px;
	line-height: 80.52%;
	letter-spacing: 0.025em;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
/* how we works slide */
.we-review {
	position: relative;
	padding-bottom: 80px;
}
.we-review::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 65px;
    width: 100%;
    height: 310px;
	background-color: #D60000;
	background-image: url('../images/how-we-work-review-bg.png');
	background-size: contain;
}
.we-review .second-title {
	position: relative;
	z-index: 2;
}
.we-review .fish-img {
	position: absolute;
	left: 0;
	bottom: -40px;
    z-index: 2;
}
.we-review .second-title p {
	margin: 27px 0 23px;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
	max-width: 190px;
}
.we-review .second-title a {
	color: #fff;
}
.we-slide {
	overflow: hidden;
	position: relative;
	padding: 15px 10px 40px;
    margin: 0 -24px;
    margin-top: 0px;
}
.reviews-slide-sec {
	padding-bottom: 120px;
	position: relative;
}
.we-slide .review-block {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.we-slide .swiper-button-next,
.we-slide .swiper-button-prev {
	top: 97%;
}
.we-slide .swiper-button-prev {
	left: 26px;
}
.we-slide .swiper-button-next {
	right: auto;
	left: 120px;
}
/* Полезные  ссылки  и  сервисы */
.useful-links .second-title h2 {
	margin-bottom: 34px;
}
.useful-links .second-title p {
	font-family: 'Plumb-medium';
	max-width: 710px;
	font-weight: 700;
	font-size: 18px;
	line-height: 158.52%;
	letter-spacing: 0.025em;
	color: #000000;
}
.useful-statistic {
	background: #D60000;
	border-radius: 50%;
	height: 618px;
	max-width: 618px;
	position: relative;
	margin-top: -100px;
}
.useful-statistic .cloud-img {
	position: absolute;
	top: 0;
	right: 0;
}
.useful-statistic .laptop-img {
	position: absolute;
	left: -40px;
	bottom: -96px;
}
.useful-statistic .useful-title h4 {
	padding-top: 158px;
	padding-left: 111px;
	font-family: 'Plumb-medium';
	font-weight: 700;
	font-size: 44px;
	line-height: 83.5%;
	letter-spacing: -0.015em;
	text-transform: uppercase;
	color: #FFFFFF;
	max-width: 270px;
}
.useful-statistic .useful-text {
	max-width: 234px;
	margin-left: auto;
	position: relative;
	z-index: 2;
}
.useful-statistic .useful-text p {
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
	margin-top: 26px;
}
.useful-statistic .useful-text a {
	color: #fff;
	margin-top: 20px;
}

.useful-left {
	position: relative;
	display: flex;
	align-items: flex-start;
	margin-top: 146px;
}

.useful-img {
	border: 7px solid #000000;
	height: 366px;
	width: 166px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 30px 0 0;
	margin-right: 30px;
}
.useful-left-text {
	max-width: 160px;
}
.useful-left-text p {
	font-size: 16px;
	line-height: 150%;
	margin-bottom: 24px;
	color: #000000;
}
/* useful catalog section */
.useful-catalog {
	position: relative;
	padding: 280px 0 100px;
	background-image: url('../images/useful-catalog-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 170px;
}
.useful-catalog-img {
	text-align: center;
}
.useful-catalog-img img {
	position: absolute;
	left: 245px;
    top: -110px;
}

.useful-catalog-title {
	margin-bottom: 45px;
}
.useful-catalog-title h3 {
	font-family: 'Plumb-medium';
	font-weight: 700;
	font-size: 44px;
	line-height: 83.5%;
	letter-spacing: -0.015em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 32px;
	max-width: 394px;
}
.useful-catalog-title p {
	font-size: 16px;
	line-height: 150%;
	color: #000000;
	max-width: 486px;
}

.useful-catalog .faq-swiper {
	padding-bottom: 50px;
}
.useful-catalog .faq-swiper .swiper-button-next,
.useful-catalog .faq-swiper .swiper-button-prev {
	top: auto;
	bottom: -18px;
}

.useful-catalog .faq-swiper .swiper-button-prev {
	left: 44%;
}
.useful-catalog .faq-swiper .swiper-button-next {
	right: 47%;
}

.banner-sec {
	padding: 20px 0;
	background: #D60000;
}
.banner-sec .banner-block {
	display: flex;
	align-items: center;
	position: relative;
}
.banner-sec .banner-block p {
	max-width: 486px;
	font-size: 16px;
	line-height: 110%;
	color: #FFFFFF;
	margin-right: 40px;
}
.banner-sec .banner-block .ship-img {
	position: absolute;
	bottom: -20px;
	right: 0;
}
/* Торговая площадка в Японии */
.marketplace-sec {
	position: relative;
	padding-bottom: 100px;
}
.marketplace-sec .marketplace-img img {
	width: 100%;
	object-fit: cover;
}
.marketplace-sec .marketplace-block {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: -100px;
}
.marketplace-sec .marketplace-text h5 {
	font-weight: 800;
	font-size: 24px;
	line-height: 108.02%;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 24px;
}
.marketplace-sec .marketplace-text p {
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0.025em;
	color: #000000;
	max-width: 717px;
}
.marketplace-sec .marketplace-btn a {
	margin-left: 16px;
}

/* ------ */
.useful-info {
	padding: 110px 0 230px;
	background-image: url('../images/useful-info-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	border-bottom: 3px solid #919191;
}
.useful-info .ellipse-img {
	position: absolute;
	left: 0;
	right: 0;
	top: -130px;
	margin: auto;
}
.useful-info .useful-info-block {
	background: #fff;
	padding: 45px 45px 50px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
	position: relative;
	height: 100%;
	background-position: right bottom;
	background-repeat: no-repeat;
}
.useful-info .useful-info-block.one {
	background-image: url('../images/info-bg1.png');
}
.useful-info .useful-info-block.two {
	background-image: url('../images/info-bg2.png');
}
.useful-info .useful-info-block h6 {
	margin: 35px 0;
	font-family: 'Plumb-medium';
	font-weight: 700;
	font-size: 24px;
	line-height: 108.02%;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #000000;
	max-width: 230px;
}
.useful-info .useful-info-block a {
	padding: 20px 26px;
}

/* useful models */
.useful-models {
	padding: 90px 0 120px;
}
.useful-models .models-block {
	padding: 30px 40px 30px 50px;
	background: #FFFFFF;
	border: 1px solid #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.useful-models .models-block:last-child {
	margin-bottom: 0;
}
.models-block .models-btn a {
	padding: 20px 26px;
}

.models-block .models-text {
	max-width: 280px;
}
.models-block .models-text h5 {
	font-weight: 700;
	font-size: 24px;
	line-height: 108.02%;
	letter-spacing: 0.025em;
	color: #000000;
	margin-bottom: 5px;
}
.models-block .models-text p {
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.025em;
	color: #000000;
}
/* new page vehical */
.vehicle-sec {
	background-image: url('../images/vehicle-bg.jpg');
	background-position: bottom left;
	background-repeat: no-repeat;
}
.vehicle-sec .second-title {
	margin-bottom: 40px;
}
.vehicle-sec .vehicle-form p {
	font-size: 16px;
	line-height: 145.5%;
	letter-spacing: 0.025em;
	color: #000000;
	margin-bottom: 20px;
}
.vehicle-sec .vehicle-form-block {
	text-align: center;
	padding: 40px;
	background: #D60000;
}
.vehicle-sec .vehicle-form-block p {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 16px;
	line-height: 126.52%;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.vehicle-sec .vehicle-form-block input {
	height: 50px;
	width: 100%;
	text-align: center;
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 2px;
}
.vehicle-sec .vehicle-form-block input,
.vehicle-sec .vehicle-form-block input::placeholder {
	font-size: 14px;
	line-height: 80.52%;
	letter-spacing: 0.025em;
	color: #000000;
}
.vehicle-sec .vehicle-form-block .form-group {
	margin-bottom: 10px;
}
.vehicle-sec .vehicle-form-block .form-btn button {
	font-weight: 700;
	font-size: 12px;
	line-height: 80.52%;
	text-align: center;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	height: 50px;
	width: 100%;
	background: #000000;
	color: #FFFFFF;
	border: none;
}
.vehicle-sec .vehicle-form-block .form-btn button:hover {
	background: #fff;
	color: #000;
}
/* почему надо работать с нами: */
.work-with {
	padding-top: 75px;
}
.work-with .work-block {
	display: flex;
	align-items: flex-start;
	margin-bottom: 40px;
}
.work-with .work-block .work-number span {
	display: inline-block;
	background: #D60000;
	margin-right: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	font-size: 50px;
	line-height: 70.52%;
	letter-spacing: -0.095em;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 89px;
	height: 89px;
}
.work-with .work-block .work-text p {
	font-weight: 900;
	font-size: 24px;
	line-height: 95.52%;
	text-transform: uppercase;
	color: #D60000;
	margin-bottom: 13px;
}
.work-with .work-block .work-text span {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 145.5%;
	letter-spacing: 0.025em;
	color: #000000;
}
/* заказы  наших  клиентов */
.clients-order {
	padding: 100px 0 180px;
}
.clients-order .second-title h2 {
	margin-bottom: 20px;
}
.clients-order .second-title p {
	font-weight: 900;
	font-size: 14px;
	line-height: 180%;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 60px;
}

.orders-left {
	margin-right: 50px;
}
.orders-date {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 141px;
	height: 141px;
	background: #D60000;
	position: relative;
	margin-bottom: 105px;
}
.orders-date::after {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #D60000;
	border-radius: 50%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -30px;
	margin: auto;
}
.orders-date p {
	font-size: 30px;
	line-height: 83.5%;
	letter-spacing: -0.015em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.orders-text {
	max-width: 141px;
}
.orders-text p {
	font-size: 16px;
	line-height: 150%;
	color: #000000;
	margin-bottom: 45px;
}
.orders-img {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	max-width: 920px;
}
.orders-img img {
	margin-right: 10px;
	margin-bottom: 10px;
	width: 154px;
	height: 140px;
}
.orders-img:last-child,
.orders-img img:last-child {
	margin-right: 0;
}
.orders-numbers {
	min-width: 271px;
	height: 523px;
	padding-left: 70px;
	padding-top: 50px;
	border: 7px solid #000000;

	position: absolute;
	top: -40px;
	right: -110px;
	z-index: -1;
}
.orders-numbers p {
	font-weight: 900;
	font-size: 90px;
	line-height: 84.52%;
	letter-spacing: -0.15em;
	text-transform: uppercase;
	color: #D60000;
}
.orders-numbers span {
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0.025em;
	color: #D60000;
}
.orders-numbers .orders-item {
	margin-bottom: 40px;
}
.orders-block {
	display: flex;
	align-items: flex-start;
	position: relative;
}

.we-work.vehicle-wok-sec {
	padding-top: 50px;
}
/* О КОМПАНИИ */
.about-company {
	position: relative;
}
.about-company .second-title h2 {
	margin-bottom: 45px;
}
.about-company .company-text {
	margin-top: 15px;
}
.about-company .company-text p {
	font-size: 14px;
	line-height: 150%;
	color: #000000;
	margin-bottom: 30px;
}
.about-company .company-text a {
	margin-top: 10px;
}

.company-slide .company-block {
	position: relative;
}
.about-company .container {
	position: relative;
}
.about-company .round {
	position: absolute;
	right: 0;
	bottom: 0;
	background-blend-mode: multiply;
	mix-blend-mode: darken;
	z-index: 2;
}
.company-slide .company-img img {
	width: 100%;
}
.company-slide .company-text {
	margin-top: 30px;
	text-align: right;
	margin-right: 130px;
}
.company-slide .company-text span {
	border: 4px solid #000000;
	border-radius: 123px;
	padding: 22px 40px 22px 50px;
	font-weight: 900;
	font-size: 55px;
	line-height: 70.52%;
	letter-spacing: -0.095em;
	text-transform: uppercase;
	color: #000000;
}

.company-slide {
	overflow: hidden;
	position: relative;
}
.company-slide .swiper-button-next,
.company-slide .swiper-button-prev {
	top: auto;
	bottom: 30px;
}
.company-slide .swiper-button-prev {
	left: 26px;
}
.company-slide .swiper-button-next {
	right: auto;
	left: 120px;
}

/* преимущества: */
.advantage-sec .second-title h2 {
	margin-bottom: 6px;
}
.advantage-sec .second-title p {
	font-weight: 900;
	font-size: 14px;
	line-height: 180%;
	letter-spacing: 0.7em;
	text-transform: uppercase;
	color: #000000;
}
.advantage-sec .second-title {
	margin-bottom: 60px;
}
.advantage-sec .advan-item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 45px;
}
.advantage-sec .advan-item:last-child {
	margin-bottom: 0;
}
.advantage-sec .advan-item .advan-number span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 89px;
	height: 89px;
	font-weight: 900;
	font-size: 50px;
	line-height: 70.52%;
	letter-spacing: -0.095em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-right: 35px;
	background: #D60000;
}
.advantage-sec .advan-item .advan-text h5 {
	font-weight: 900;
	font-size: 24px;
	line-height: 95.52%;
	text-transform: uppercase;
	color: #D60000;
	margin-bottom: 13px;
}
.advantage-sec .advan-item .advan-text p {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	line-height: 145.5%;
	letter-spacing: 0.025em;
	color: #000000;
}

.advantage-sec .advan-block {
	display: flex;
	align-items: center;
}
.advantage-sec .advan-img {
	position: relative;
	margin-right: 50px;
}
.advantage-sec .advan-img .advan-text-img {
	position: absolute;
	top: -120px;
	left: 150px;
}
.advantage-sec .advan-right h5 {
	font-weight: 900;
	font-size: 60px;
	line-height: 84.52%;
	letter-spacing: -0.15em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 7px;
}
.advantage-sec .advan-right  p {
	font-family: 'Plumb-medium', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 112.02%;
	letter-spacing: 0.025em;
	color: #000000;
	max-width: 150px;
}
.advantage-sec .advan-right .red h5,
.advantage-sec .advan-right .red p {
	color: #D60000;
}
.advantage-sec .advan-right .right-item {
	margin-bottom: 50px;
}
.advantage-sec .advan-right .right-item:last-child {
	margin-bottom: 0;
}
.about-title h2 {
	text-align: center;
	margin-bottom: 85px;
}
.about-work .about-btn {
	margin-top: 60px;
}
.about-work {
	padding-bottom: 250px;
}
/* about-information */
.about-information {
	margin-top: 140px;
	padding: 90px 0 100px;
	background-image: url('../images/about-information-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.about-information .second-title {
	margin-bottom: 30px;
}
.about-information .second-title h2 {
	margin-bottom: 10px;
}
.about-information .second-title p {
	font-weight: 900;
	font-size: 14px;
	line-height: 180%;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #000000;
}
/* история компании */
.history-sec {
	padding-bottom: 100px;
}
.history-sec .second-title h2 {
	margin-bottom: 38px;
}
.history-rov {
	align-items: center;
	padding-bottom: 68px;
}
.history-sec .history-img {
	position: relative;
}
.history-sec .history-img img {
	width: 100%;
}

.history-number-col {
	position: relative;
}
.history-sec .history-number {
	position: absolute;
	bottom: 35px;
	left: 38px;
	width: 141px;
	height: 141px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #D60000;
	z-index: 2;
}
.history-sec .history-number span {
	font-weight: 900;
	font-size: 48px;
	line-height: 83.5%;
	letter-spacing: -0.015em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.history-sec .history-text p {
	font-family: 'Inter';
	font-size: 14px;
	line-height: 160%;
	letter-spacing: 0.025em;
	color: #000000;
	margin-bottom: 45px;
}
.history-sec .history-text p:last-child {
	margin-bottom: 0;
}
.history-sec .history-text.text-left {
	margin-left: 100px;
}

.last-rov {
	margin-top: 35px;
	padding-bottom: 170px;
}
.last-rov .history-number {
	bottom: 0;
}
.last-img {
	position: relative;
}
.last-img img {
	position: absolute;
	bottom: -520px;
	left: 0;
}
/* главная page */
.main-sec {
	position: relative;
	padding-top: 100px;
	background-image: url('../images/index-bg.png');
	background-repeat: no-repeat;
	background-position: top right;
}
.main-col {
	position: relative;
}
.main-sec .title h1 {
	font-weight: 900;
	font-size: 140px;
	line-height: 84.52%;
	letter-spacing: -0.15em;
	text-transform: uppercase;
	color: #D60000;
	margin-left: 60px;
	margin-bottom: 160px;
}
.main-text {
	max-width: 113px;
	margin-left: 60px;
	margin-right: 35px;
}
.main-text p {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 150%;
	color: #000000;
}
.main-word h3 {
	font-family: 'DrukWideCyr-Bold';
	font-weight: 900;
	font-size: 30px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000;
    border: 7px solid #000;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    left: 120px;
    right: 0;
    top: 25%;
    text-align: start;
    padding-top: 30px;
}

.main-btn {
	padding: 20px 0;
	background: #fff;
	position: absolute;
	right: -78px;
    bottom: 105px;
	z-index: 100;
}
.main-btn a {
	width: 217px;
}

.main-content {
	margin-top: -80px;
}
.main-slide {
	position: relative;
	overflow: hidden;
}
.main-slide .swiper-slide img {
	width: 100%;
}

.main-slide .pagination-container {
	width: 100%;
}

.main-slide .swiper-pagination2 {
	position: absolute;
	right: 20px;
	bottom: 35px;
	text-align: right;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-right: 30px;
	z-index: 2;
}

.main-slide .swiper-pagination2 .swiper-pagination-current {
	font-size: 40px;
	line-height: 150%;
	letter-spacing: -0.13em;
	color: #D60000;
	width: 55px;
	text-align: center;
	position: relative;
}
.main-slide .swiper-pagination2 .swiper-pagination-current::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 65px;
	height: 4px;
	background: #D60000;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.main-slide .swiper-pagination2 .swiper-pagination-current::after {
	content: "";
	position: absolute;
	right: -35px;
    bottom: 2px;
    background: #000;
    width: 70px;
    height: 1px;
    transform: rotate(-72deg);
}
.main-slide .swiper-pagination2 .swiper-pagination-total {
	font-size: 12px;
	line-height: 150%;
	color: #000000;
	opacity: 0.6;
	display: inline-block;
    margin-bottom: 10px;
	margin-left: 20px;
	position: relative;
}
.main-slide .swiper-pagination2 .swiper-pagination-total::after {
	content: "";
	display: block;
	width: 80px;
	height: 1px;
	opacity: 0.6;
	position: absolute;
	right: -9px;
	bottom: -9px;
	background: #000000;
}


.main-sec .swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 40px;
}
.main-sec .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	background: #000000;
	opacity: 0.5;
	margin: 0 15px;
	display: inline-block;
	padding: 5px;
	border: 1px solid #000;
	display: inline-block;
	position: relative;
}
.main-sec .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet::after {
	content: "";
	display: block;
	position: absolute;
	left: -4px;
    top: -4px;
	border: 1px solid #000;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	opacity: 0;
	transition: .3s all ease;
}
.main-sec .swiper-pagination-bullet.swiper-pagination-bullet-active {
	opacity: 1 !important;
}
.main-sec .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
	opacity: 1 !important;
}















.index-advan {
	padding-top: 200px;
	background-image: url('../images/index-advan-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	/* margin-top: -30px; */
}













.index-faq {
	padding-top: 340px;
	padding-bottom: 15px;
}
.index-faq::before {
	content: none;
}
.index-faq .faq-btn {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	margin-top: 24px;
}


.index-information {
	margin-top: 0;
}
/* start 404 page */
.not-found-sec {
	background-image: url('../images/404-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding: 165px 0 135px;
}

.not-found-sec .not-found-block {
	text-align: center;
}

.not-found-sec .not-found-block h2 {
	font-weight: 900;
	font-size: 70px;
	line-height: 84.52%;
	letter-spacing: -0.095em;
	text-transform: uppercase;
	color: #D60000;
}

.not-found-sec .not-found-block p {
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	text-transform: uppercase;
	color: #000000;
	margin-top: 2px;
}

.not-found-sec .not-found-img {
	position: relative;
}

.not-found-sec .not-found-img .not-found-icon {
	position: absolute;
	left: -90px;
	top: 94px;
}

.read-more {
	display: flex;
	align-items: center;
	gap: 13px;
	cursor: pointer;
	width: fit-content;
}

.read-more:hover img,
.read-more:hover svg {
	transform: translateX(10px);
}

.read-more a {
	font-weight: 400;
	display: inline-block;
	font-size: 14px;
	line-height: 150%;
	border-bottom: 1px solid #D60000;
	color: #D60000;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
	content: none;
}
/* end 404 page */
footer {
	background: #000000;
	position: relative;
}

footer .footer-logo {
	position: relative;
	text-align: center;
	padding: 30px 0;
}

footer .footer-logo::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 1px;
	background: #D60000;
}

footer .footer-logo .logo-block {
	display: inline-block;
	padding: 0 84px;
	position: relative;
	z-index: 2;
	background: #000000;
}

footer .footer-end {
	background: #D60000;
	padding: 5px 15px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Inter', sans-serif;
}

footer .footer-end .footer-end-links .politic {
	margin-right: 190px;
}

footer .footer-end p,
footer .footer-end .developed {
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
}

footer .footer-end .politic {
	font-size: 10px;
	line-height: 80.52%;
	letter-spacing: 0.025em;
	color: #FFFFFF;
}

footer .footer-info {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

footer .footer-info .address-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

footer .footer-info .address-item .one {
	margin-bottom: 26px;
}

footer .footer-info .address-item .address-in {
	display: flex;
	align-items: flex-start;
}

footer .footer-info .address-item .address-in img {
	margin-right: 4px;
}

footer .footer-info .address-item span {
	font-size: 12px;
	line-height: 114.02%;
	letter-spacing: 0.025em;
	color: #FFFFFF;
	max-width: 166px;
}

footer .footer-info .footer-numbers a {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 173.02%;
	letter-spacing: 0.025em;
	color: #FFFFFF;
}

footer .footer-info .footer-numbers a img {
	margin-right: 4px;
}

footer .footer-info .footer-numbers .for-margin {
	display: block;
	margin-top: 6px;
}

footer .footer-block {
	padding-left: 15px;
	padding-right: 15px;
}

footer .footer-menu-block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 30px;
	width: 100%;
}

footer .footer-menu-block .footer-menu {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

footer .footer-menu-block .footer-menu p {
	font-weight: 700;
	font-size: 14px;
	line-height: 80.52%;
	text-align: center;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	color: #D60000;
	margin-bottom: 24px;
}

footer .footer-menu-block .footer-menu a {
	font-size: 12px;
	line-height: 80.52%;
	letter-spacing: 0.025em;
	color: #FFFFFF;
	margin-bottom: 15px;
	opacity: 0.7;
}

footer .footer-menu-block .footer-menu a:hover {
	opacity: 1;
}

footer .footer-menu-block .footer-menu a:last-child {
	margin-bottom: 0;
}

footer .footer-menu-block .footer-menu .contact-title {
	margin-top: 30px;
}

/* end footer */

.modal.fade .modal-dialog {
	transform: translate(-80%, 0);
}

.modal.fade.show .modal-dialog {
	transform: none;
}

.modal .modal-content {
	border-radius: 0;
	border: none;
	background-color: #D60000;
	background-image: url('../images/bg-2.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 35px 35px 70px 95px;
}

.modal .modal-header {
	padding: 0;
	border: none;
	align-items: flex-start;
}

.modal .modal-header .modal-title {
	margin-left: auto;
	position: relative;
}

.modal-header .close-btn {
	box-sizing: border-box;
	background: none;
	border: none;
	padding: 0;
	position: absolute;
	left: 24px;
	top: 24px;
	transition: .5s all ease;
}

.modal-header .close-btn:hover {
	transform: rotate(90deg);
}


/* header left menu */
.menu-modal .menu-img {
	position: absolute;
	right: 0;
	bottom: 0;
}

.menu-modal .modal-body {
	padding: 0;
	overflow-x: hidden;
	margin-top: -20px;
}

.menu-modal .modal-body .menu-in {
	margin-bottom: 50px;
}

.menu-modal .modal-body .menu-in p {
	font-weight: 900;
	font-size: 50px;
	line-height: 84.52%;
	letter-spacing: -0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 30px;
}

.menu-modal .modal-body .menu-in .menu-links {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-left: 50px;
}

.menu-modal .modal-body .menu-in .menu-links a {
	font-size: 16px;
	line-height: 80.52%;
	letter-spacing: 0.025em;
	color: #FFFFFF;
	margin-bottom: 20px;
}

.menu-modal .modal-body .menu-in .menu-links a:last-child {
	margin-bottom: 0;
}

.menu-modal .modal-body .menu-in .menu-links a:hover {
	color: #000000;
}

.menu-modal .modal-body .menu-footer {
	position: relative;
	border-top: 1px solid #fff;
	padding-top: 30px;
	margin-top: 50px;
}

.menu-modal .modal-body .menu-footer p {
	font-weight: 900;
	font-size: 50px;
	line-height: 97.52%;
	letter-spacing: -0.085em;
	text-transform: uppercase;
	color: #FFFFFF;
	max-width: 970px;
}

/* end modals */
/* custom input type file */
.filelabel {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	transition: border 300ms ease;
	cursor: pointer;
	text-align: center;
	margin: 0;
	background: #DBDBDB;
	border: 1px solid #919191;
	border-radius: 4px;
}

.filelabel .file-title {
	font-size: 14px;
	line-height: 79.4%;
	color: #000000;
	transition: 200ms color;
}

#FileInput {
	display: none;
}

/* custom rating stras */
.star-rating {
	display: flex;
	flex-direction: row-reverse;
	gap: 7px;
}

.star-rating input {
	display: none;
}

.star-rating label svg path {
	fill: #D9D9D9;
	cursor: pointer;
}

.star-rating :checked~label svg path {
	fill: #D60000;
}

.star-rating label:hover svg path,
.star-rating label:hover~label svg path {
	fill: #D60000;
}

/* custom input checkbox */
.control {
	display: block;
	position: relative;
	padding-left: 38px;
	cursor: pointer;
	max-width: 290px;
}

.control span {
	font-size: 12px;
	line-height: 100%;
	color: #000000;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 22px;
	width: 22px;
	background: #FFFFFF;
	border: 2px solid #000000;
	border-radius: 2px;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
	background: #ccc;
}

.control input:checked~.control__indicator {
	background: #fff;
}

.control input:disabled~.control__indicator {
	background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
}

.control__indicator:after {
	content: '';
	position: absolute;
	display: none;
}

.control input:checked~.control__indicator:after {
	display: block;
}

.control--checkbox .control__indicator:after {
	left: 6px;
	top: 2px;
	width: 6px;
	height: 11px;
	border: solid #D60000;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.control--checkbox input:disabled~.control__indicator:after {
	border-color: #7b7b7b;
}

/* custom select */
.select-menu {
	width: 100%;
	cursor: pointer;
	position: relative;
}

.select-menu .select.active {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.select-menu>.select {
	background: #F8F5F5;
	border: 1px solid #000000;
	width: 100%;
	padding: 10px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: all 350ms ease-in-out;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	color: #0D1E25;
	height: 50px;
}

.select-menu>.options-list {
	position: absolute;
	width: 100%;
	padding-top: 8px;
	max-height: 200px;
	overflow-y: auto;
	transition: 0.4s linear 0.2s;
	display: none;
	background: #fff;
	border: 1px solid #D0D0D0;
	border-radius: 0px 0px 0 8px;
	margin-top: 1px;
	z-index: 10;
}

.select-menu>.options-list.active {
	display: block;
}

.select-menu>.options-list>.option {
	padding: 10px 24px;
	font-size: 16px;
	line-height: 140%;
	color: #313144;
}

.select svg {
	transition: all 0.2s linear;
}

.select.select_active svg {
	transform: rotate(180deg);
}

.select-menu>.options-list>.option:hover,
.select-menu>.options-list>.option.selected {
	background: #D60000;
	color: white;
}

.select span {
	font-size: 14px;
	line-height: 79.4%;
	color: #000000;
}

.select-menu>.options-list::-webkit-scrollbar {
	width: 8px;
}

.select-menu>.options-list::-webkit-scrollbar {
	width: 8px;
}

.select-menu>.options-list::-webkit-scrollbar {
	width: 4px;
}

/* Track */
.select-menu>.options-list::-webkit-scrollbar-track {
	background: #FFFFFF;
}

/* Handle */
.select-menu>.options-list::-webkit-scrollbar-thumb {
	background: #D60000;
}

/* Handle on hover */
.select-menu>.options-list::-webkit-scrollbar-thumb:hover {
	background: #000000;
}




















@media (min-width: 576px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 100%;
	}
}


@media (min-width: 1600px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1320px;
	}
}


@media only screen and (max-height: 720px) {
	.menu-img {
		width: 18%;
	}

	.modal .modal-body .menu-in p {
		font-size: 42px;
		margin-bottom: 20px;
	}

	.modal .modal-body .menu-in .menu-links a {
		margin-bottom: 12px;
	}

	.modal .modal-body .menu-in {
		margin-bottom: 35px;
	}

	.modal .modal-body .menu-footer {
		margin-top: 30px;
	}
}



@media only screen and (max-width: 1400px){
	.history-sec .history-number {
		bottom: -5px;
	}
}



@media (max-width: 480px) {
	header .header-menu .menu-btn {
		width: 40px;
		height: 40px;
	}

	header .header-right-btn {
		display: none !important;
	}

	.header-logo-pc {
		display: none;
	}

	.header-logo-media {
		display: block;
	}

	.header-right-logos {
		display: block;
	}

	header .header-menu .menu-btn img {
		width: 10px;
		height: 15px;
	}

	header-logo img {
		width: 64px;
		height: 34px;
	}

	.title h2 {
		font-size: 32px;
	}

	.breadcrumbs {
		margin: 10px 0 13px 0;
	}

	.breadcrumbs span,
	.breadcrumbs p,
	.breadcrumbs a {
		font-size: 7px;
	}

	.about-delivered .title {
		margin-bottom: 18px;
	}

	.about-delivered .select-menu {
		margin-bottom: 9px;
	}

	.about-delivered .delivered-filter-icon {
		display: none;
	}

	.about-delivered .delivered-filter-rov {
		margin-bottom: 20px;
	}

	.about-delivered .delivered-block {
		height: 115px;
	}

	.about-delivered .delivered-col {
		width: 50%;
		margin-bottom: 10px;
	}

	.about-delivered .row {
		justify-content: space-between;
	}

	.about-delivered .delivered-hover h5 {
		font-size: 15px;
		margin-bottom: 8px;
	}

	.about-delivered .delivered-block .delivered-hover {
		padding: 8px;
	}

	.about-delivered .delivered-hover .del-hover-text span,
	.about-delivered .delivered-hover .del-hover-text p {
		font-size: 10px;
	}

	.about-delivered .delivered-img {
		height: 100%;
	}
}